.swatch {
    width: 250px;
    display: inline-block;
    text-align: left;
    margin: 8px;
}

.color {
    width: 100%;
    background: salmon;
    height: 80px;
}

.popover {
    position: absolute;
    z-index: 10;
}

.cover {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px
}